

<template name="basicLayout">
  {{> flashMessages}}
  {{> metaData}}

  <header>
    {{> header}}
  </header>
  <div id="page" class="animated">
    <page class="application">
      <div class="container">
        {{> yield}}
      </div>
    </page>
  </div>

  <footer>
    {{> footer}}
  </footer>
</template>


<template name="metaData">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="sticky-footer.css" rel="stylesheet">
  <meta name="fragment" content="!">
  <link rel="icon" type="image/png" href="/favicon.png">
</template>

<template name="header" >
    <div class="container">
            {{> loginButtons}}

      <a href="/"><img class="center-image" src="/logo.png"/></a>
      <h1 class="center-content">{{> yield "title"}}</h1>
  </div>
</template>

<template name="footer">
    <footer class="footer">
      <div class="container">
        <br />
        <p class="text-muted">Version 1.0.10</p>
      </div>
    </footer>
</template>

<template name="loadingpage">
   <page class="application">
      <div class="content center-content">
          <p>Loading Data...</p>
      </div>
  </page>
</template>





