<template name="version_selection">
  {{setSelectedSchoolDoc schoolId}}
  <legend>Versions</legend>
  <button class="btn btn-primary btn-back">Back</button>
  {{> versions}}
</template>

<template name="versions">

  <!-- {{#unless hasVersions}} -->
    <!-- {{#if userIsAdmin}} -->
    <input type="button" class="open-modal btn btn-primary" value="Add a Version" /> 
      <!-- {{else}} -->
      <!-- <p>You need to be logged in as an admin to add a new version</p> -->
    <!-- {{/if}} -->
  <!-- {{/unless}} -->
  {{> list_versions }}
  {{> modal_version}}
  {{> modal_version_update}}

</template>

<template name="list_versions">
<table class="table">
    <thead>
      <tr>
        <th>Survey name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
        <th></th>
        {{#if userIsAdmin}}
          <th></th>
          <th>Mark as Verified</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>

   {{#each schools}}
      {{#each this.surveys}}
        {{> version}} 
      {{/each}}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="version">
  <tr>
    {{print this}}
    {{#if this.isVerified}}
        <td>{{this.name}}</td>
      {{else}}
        <td><a href="{{pathFor 'survey' _schoolId=selectedSchoolId _surveyId=survey_id }}" class="">{{this.name}}</a></td>
    {{/if}}
    <td>{{dateToString this.startDate}}</td>
    <td>{{dateToString this.endDate}}</td>
    <!-- {{#if userIsAdmin}} -->
      <td><a href="" class="btn-edit">Edit Version Details</a></td>
      <td><a href="" class="btn-duplicate">Duplicate</a></td>
      {{#if userIsAdmin}}
        <td><a href="" class="btn-delete">Delete</a></td>
        <td>
          <div class="checkbox">
              <label>
                  <input type="checkbox" class="toggle-checked" checked="{{this.isVerified}}">
                    <span class="checkbox-material" >
                      <span class="check">
                      </span>
                    </span>
              </label>
          </div>
          
        </td>
      {{else}}
        {{#if this.isVerified}}
          <td>Verified by Admin</td>
        {{else}}
          <td></td>
      {{/if}}
    {{/if}}

  </tr>
</template>

<!-- A modal that contains the bigger view of the image selected -->
<template name="modal_version">
  <div class="modal fade in" id="modal_version" data-backdrop="false" >
     <div class="modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a Version</h4>
        </div>
        <div class="modal-body">
<!--           {{> quickForm id="versions1" type="insert" collection="Schools" scope="surveys"}}
 -->

          {{#autoForm  type="update-pushArray" collection="Schools" doc=selectedSchoolDoc scope="surveys"}}
            {{#each afFieldNames}}
                  <div class="row">
                    {{#unless isEqual this.name 'grades'}}
                      {{> afQuickField name=this.name}}
                    {{/unless}}
                  </div>
                {{/each}}              
                  <button type="submit" class="btn btn-primary btn-save">Save</button>
            {{/autoForm}}
          </div>
      </div>
  </div>
</template>


<template name="modal_version_update">
  <div class="modal fade in" id="modal_version_update" data-backdrop="false" >
     <div class="modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Update Version</h4>
        </div>
        <div class="modal-body">
            {{#autoForm collection="Schools" type="update" doc=selectedVersion resetOnSuccess=true setArrayItems=true}}
                {{#each afFieldNames}}
                  <div class="row">
                    {{#unless isEqual this.name 'grades'}}
                      {{> afQuickField name=this.name}}
                    {{/unless}}
                  </div>
                {{/each}} 
          
                  <button type="submit" class="btn btn-primary btn-save">Save</button>
            {{/autoForm}}
          </div>
      </div>
  </div>
</template>

