@import 'variables';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: @fontFace;
  font-weight: 300;
  background: #F1F1F1;
  height: 100%;  
}

page {
    display: block;
    padding: 10px 10px;
    max-width: 1200px;
    margin: 0 auto;
  }

  legend {
      text-align:center;
  }

  button {
    background-color: #ffcc00;
    border-style: none;
    color: #000000;
    white-space: normal !important;
    word-wrap: break-word;
    max-width: 400px;
    position: relative;
    padding: 8px 30px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
  }

  input {
    border: 0;
      background: transparent;
      border-bottom: 1px solid #757575;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



form input[type] {
  height: 30px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.btn-dashboard {
  width: 100%;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
      max-width: 400px;

}

.full-width {
  width: 100%;
}

.center-content {
  text-align: center;
}

#iron-router-progress {
    background-color : @primaryColor;
    box-shadow       : none;
}



.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.radio-label {
  padding-left: 20px;
}