<template name="review">
	<div class="container">
			{{> quickForm collection="Schools" id="review1" type="readonly" buttonContent=false}}
			<h1>Additional Info</h1>
	  		{{> quickForm collection="Additional" id="review2" type="readonly" buttonContent=false}}
	  		<h1>Classrooms</h1>
	  		{{> quickForm collection="Classrooms" id="review3" type="readonly" buttonContent=false}}
	  		<h1>Contact Person</h1>
	  		{{> quickForm collection="ContactPeople" id="review3" type="readonly" buttonContent=false}}
	  		<p>Electricity</p>
	  		{{> quickForm collection="Electricity" id="review3" type="readonly" buttonContent=false}}
	  		<p>Grades</p>
	  		{{> quickForm collection="Grades" id="review3" type="readonly" buttonContent=false}}
	  		<p>Labs</p>
	  		{{> quickForm collection="Labs" id="review3" type="readonly" buttonContent=false}}
	  		<p>Sanitation</p>
	  		{{> quickForm collection="Sanitation" id="review3" type="readonly" buttonContent=false}}
	  		<p>Security</p>
	  		{{> quickForm collection="Security" id="review3" type="readonly" buttonContent=false}}
	  		<p>Special Needs</p>
	  		{{> quickForm collection="SpecialNeeds" id="review3" type="readonly" buttonContent=false}}
	  		<p>Sports</p>

	  		{{> quickForm collection="Sports" id="review3" type="readonly" buttonContent=false}}

<!-- 		{{#if this.schoolId}}
         <button class="btn btn-primary btn-back">Back</button>
          <button type="submit" class="btn btn-primary">Next</button>
	  		{{> quickForm collection="Schools" id="review1" type="update"}}
	  		{{> quickForm collection="Additional" id="review2" type="update" }}
	  		{{> quickForm collection="Classrooms" id="review3" type="update"}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}
	  		{{> quickForm collection="Additional" id="review" type="update" doc=selectedSchoolDoc}}

		{{else}}
			{{> review_schools}}
		{{/if}} -->
	</div>
</template>


<template name="review_schools">
	<div class="container">
		<div class="container">
			<form class="form-horizontal select_school">
				<div class="form-group">
					<label class="col-lg-2 control-label">Select a school</label>
					<div class="col-lg-10">
						<div class="form-control-wrapper">
							<select name="selected_school" class="form-control"  onChange="window.location.href=this.value">
								<option value="">Select...</option>
									{{#each schools}}
											{{> review_school}}
									{{/each}}
							</select>
							<span class="material-input"></span>
						</div>
						<br> 
					</div>
				</div>
			</form>
		</div>
	</div>
</template>


<template name="review_school">
		  	<option value="{{pathFor 'view'}}">{{schoolDetails.INSTITUTION_NAME}}</option>
</template>