
<template name="survey10">
	<!-- {{setSelectedSchoolDoc schoolId }} -->
	{{setSelectedDoc schoolId "additional"}}
	{{#autoForm collection="Additional" id="survey10" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
	<legend>School Environment</legend>
	<button class="btn btn-primary btn-back">Back</button>
      <button class="btn btn-primary btn-save">Save</button>

		{{#each afFieldNames}}
            {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
          <div class="clearfix visible-xs-block"></div>
          <br />
    	{{/each}}
	{{/autoForm}}
</template>

