
<template name="survey10">
		{{setSelectedSchoolDoc schoolId}}
		{{#autoForm collection="Additional" id="survey" type="update" doc=selectedSchoolDoc template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" resetOnSuccess=false}}
		<button class="btn btn-primary btn-back">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
				 {{> afQuickField name="yearBuilt"}}
				 {{> afQuickField name="location"}}				 
			 {{#unless afFieldValueContains name="location" value=" "}}
				 {{> afQuickField name="couldBeMoved"}}
			{{/unless}}
			 {{> afQuickField name="schoolSignboard"}}
			 {{> afQuickField name="electronicConnectivity"}}
			 {{> afQuickField name="facilities"}}
			 {{#if afFieldValueContains name="facilities" value="Deputy principal’s office"}}
				 {{> afQuickField name="numberOfDeputyPrincipalOffices"}}
			{{/if}}
			{{#if afFieldValueContains name="facilities" value="Sick room"}}
				 {{> afQuickField name="numberOfSickRooms"}}
			{{/if}}
			{{#if afFieldValueContains name="facilities" value="Staff kitchenette"}}
				 {{> afQuickField name="numberOfStaffKitchenetters"}}
			{{/if}}
			{{#if afFieldValueContains name="facilities" value="HOD’s office"}}
				 {{> afQuickField name="numberOfHODoffices"}}
			{{/if}}
			{{#if afFieldValueContains name="facilities" value="Printing room"}}
				 {{> afQuickField name="numberOfPrintingRooms"}}
			{{/if}}

		{{/autoForm}}
</template>

