<template name="survey11">
  {{setSelectedSurveyVersionDoc surveyVersionId }}
  {{setSelectedSchoolDoc schoolId}}
  <legend>Classrooms</legend>
  <button class="btn btn-primary btn-back">Back</button>
	{{> classrooms}}
</template>

<template name="classrooms">
  <input type="button" class="open-modal btn btn-primary" value="Add a classroom" />
   {{#if isPhone}} 
      {{> list_classrooms_small }}
    {{else}}
      {{> list_classrooms_large }}
    {{/if}}

  {{> modal_classroom}}
  {{> modal_classroom_update}}

</template>

<template name="list_classrooms_large">
<table class="table">
    <thead>
      <tr>
        <th>Classroom Name</th>
        <th>No. students in class</th>
        <th>Windows Broken/Total</th>
        <th>Teacher has Desk</th>
        <th>Teacher has Chair</th>
        <th>Desks Broken/Total</th>
        <th>Chairs Broken/Total</th>
        <th>How is classroom used</th> 
        <th>Ceiling/Floor has holes</th>
        <th>Comment</th>

        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
   {{#each classrooms}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.numberOfStudents}}</td>
      <td>{{this.totalNumberOfBrokenWindows}}/{{this.totalNumberOfWindows}}</td>
      <td>{{this.teachHasDesk}}</td>
      <td>{{this.teacherHasChair}}</td>
      <td>{{this.totalNumberOfBrokenDesks}}/{{this.totalNumberOfDesks}}</td>
      <td>{{this.totalNumberOfBrokenChairs}}/{{this.totalNumberOfChairs}}</td>
      <td>{{this.howIsClassroomUsed}}</td>
      <td>{{this.ceilingOrFloorHasHole}}</td>
      <td>{{this.comment}}</td>
      <td><a href="" class="btn-edit">Edit</a></td>
      <td><a href="" class="btn-delete">Delete</a></td>
    </tr>  
   {{/each}}
    </tbody>
  </table>
</template>

<template name="list_classrooms_small">
<table class="table">
    <thead>
      <tr>
        <th>Class name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
   {{#each classrooms}}
        {{> classroom}} 
      {{/each}}
    </tbody>
  </table>
</template>

<template name="classroom">
  <tr>
    <td>{{this.name}}</td>
    <td><a href="" class="btn-edit">Edit</a></td>
    <td><a href="" class="btn-delete">Delete</a></td>
  </tr>
</template>

<!-- A modal that contains the bigger view of the image selected -->
<template name="modal_classroom">
  <div class="modal fade in" id="modal_classroom" data-backdrop="false" >
     <div class="modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a Classroom</h4>
        </div>
        <div class="modal-body">
            {{#autoForm collection="Classrooms" id="classrooms1" type="insert" resetOnSuccess=false }}
             {{#each afFieldNames}}
                    {{#unless isEqual this.name "version_id"}}
                      <div class="row">   
                        {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
                        <br />
                      </div> 
                    {{/unless}}
                {{/each}}

               {{> afQuickField name="version_id" }}

                  <button type="submit" class="btn btn-primary btn-save">Save</button>
            {{/autoForm}}
          </div>
      </div>
  </div>
</template>


<template name="modal_classroom_update">
  <div class="modal fade in" id="modal_classroom_update" data-backdrop="false" >
     <div class="modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Update Classroom</h4>
        </div>
        <div class="modal-body">
            {{#autoForm collection="Classrooms" id="classrooms2" type="update" doc=selectedClassroom resetOnSuccess=false }}
                {{#each afFieldNames}}
                  <div class="row">
                    {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
                    <br />
                    <br />
                  </div>
                {{/each}}
                  <button type="submit" class="btn btn-primary btn-save">Save</button>
            {{/autoForm}}
          </div>
      </div>
  </div>
</template>

