<template name="survey1">
  {{setSelectedSchoolDoc schoolId}}
  {{#autoForm collection="ContactPeople" id="survey" type="update" doc=selectedContactPersonDoc resetOnSuccess=false}}
         <button class="btn btn-primary btn-back">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
          <fieldset>
          <legend>Contact Details</legend>
		  {{#each afFieldNames}}
		    	{{> afQuickField name=this options="auto"}}
		  {{/each}}        
		</fieldset>

   {{/autoForm}}


</template>