
<template name="survey2">
  {{setSelectedSchoolDoc schoolId}}
  {{setSelectedDoc schoolId "grades"}}
  {{#autoForm collection="Grades" id="survey" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
            <button class="btn btn-primary btn-back">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
          <fieldset>
            {{> afQuickField name="totalTeachersInSchool" options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
            <div class="clearfix visible-xs-block"></div>
            <br />


            <p>Please select a grade to update</p>
            {{#if isPrimarySchool}}
                {{> primaryschool_accordian}}
              {{else}}
                {{> highschool_accordian}}
            {{/if}}
            {{> afQuickField name="school_id" options="auto"}}

        </fieldset>
   {{/autoForm}}
</template>

<template name="primaryschool_accordian">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-0">Grade R</a>
        <div id="accordion-0" class="accordion-section-content">
          {{#each afFieldNames name="gradeR"}}           
              {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">Grade 1</a>
        <div id="accordion-1" class="accordion-section-content">
          {{#each afFieldNames name="grade1"}}
              {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}        
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-2">Grade 2</a>
        <div id="accordion-2" class="accordion-section-content">
          {{#each afFieldNames name="grade2"}}
              {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}          
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-3">Grade 3</a>
        <div id="accordion-3" class="accordion-section-content">
          {{#each afFieldNames name="grade3"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->        
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-4">Grade 4</a>
        <div id="accordion-4" class="accordion-section-content">
          {{#each afFieldNames name="grade4"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-5">Grade 5</a>
        <div id="accordion-5" class="accordion-section-content">
          {{#each afFieldNames name="grade5"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-6">Grade 6</a>
        <div id="accordion-6" class="accordion-section-content">
          {{#each afFieldNames name="grade6"}}
           {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-7">Grade 7</a>
        <div id="accordion-7" class="accordion-section-content">
          {{#each afFieldNames name="grade7"}}
           {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
      </div>
    </div><!--end .accordion-section-->            
</div><!--end .accordion-->
</template>

<template name="highschool_accordian">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-0">Grade 8</a>
        <div id="accordion-0" class="accordion-section-content">
          {{#each afFieldNames name="grade8"}}
              {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">Grade 9</a>
        <div id="accordion-1" class="accordion-section-content">
          {{#each afFieldNames name="grade9"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-2">Grade 10</a>
        <div id="accordion-2" class="accordion-section-content">
          {{#each afFieldNames name="grade10"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-3">Grade 11</a>
        <div id="accordion-3" class="accordion-section-content">
          {{#each afFieldNames name="grade11"}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->        
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-4">Grade 12</a>
        <div id="accordion-4" class="accordion-section-content">
          {{#each afFieldNames name="grade12"}}
           {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <div class="clearfix visible-xs-block"></div>
          {{/each}}  
        </div>
    </div><!--end .accordion-section-->
        
</div><!--end .accordion-->
</template>