
<template name="survey4">
  <!-- {{setSelectedSchoolDoc schoolId}} -->
  {{setSelectedDoc schoolId "libraries"}}
  {{#autoForm collection="Libraries" id="survey4" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
    <legend>Library & Media Centre</legend>

    <button class="btn btn-primary btn-back">Back</button>
    <button class="btn btn-primary btn-save">Save</button>
    <fieldset>
      {{> afQuickField name="hasLibrary" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}

      {{#unless afFieldValueIs name="hasLibrary" value="None"}}
        {{#unless afFieldValueIs name="hasLibrary" value=""}}
          {{> libraries}}
        {{/unless}}
      {{/unless}}

      {{> afQuickField name="comment" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
      {{> afQuickField name="school_id"}}

    </fieldset>

  {{/autoForm}}
</template>

<template name="libraries">
	{{> afQuickField name="librarians" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="hasComputerTracking" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="hasComputerForGeneralUse" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="totalNumberOfComputers" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="totalNumberOfComputersThatConnectToTheInternet" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="hasBooks" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	{{> afQuickField name="hasFictionSection" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
</template>
