
<template name="survey4">
  {{setSelectedSurveyVersionDoc surveyVersionId }}
  {{setSelectedSchoolDoc schoolId}}
    <div class="container-fluid">
    {{setSelectedDoc surveyVersionId "libraries"}}
    {{#autoForm collection="Libraries" id="survey4" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
      <legend>Library & Media Centre</legend>

      <button class="btn btn-primary btn-back">Back</button>
      <button class="btn btn-primary btn-save">Save</button>
      <fieldset>
          <div class="row">
            {{> afQuickField name="hasLibrary" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
            <br />
          </div>
        {{#unless afFieldValueIs name="hasLibrary" value="None"}}
          {{#unless afFieldValueIs name="hasLibrary" value=""}}
            {{> libraries}}
          {{/unless}}
        {{/unless}}

        <div class="row">
          {{> afQuickField name="comment" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
           <br />
        </div>

        {{> afQuickField name="version_id"}}

      </fieldset>

    {{/autoForm}}
  </div>  
</template>

<template name="libraries">
  <div class="row">
    {{> afQuickField name="librarians" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>
  <div class="row">
    {{> afQuickField name="hasComputerTracking" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>
  <div class="row">
    {{> afQuickField name="hasComputerForGeneralUse" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>

  <div class="row">
    {{> afQuickField name="totalNumberOfComputers" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>

  <div class="row">
    {{> afQuickField name="totalNumberOfComputersThatConnectToTheInternet" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>

  <div class="row">
    {{> afQuickField name="hasBooks" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>

  <div class="row">
    {{> afQuickField name="hasFictionSection" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>

</template>
