
<template name="survey4">
  <!-- {{setSelectedSchoolDoc schoolId}} -->
  {{setSelectedDoc schoolId "libraries"}}
  {{#autoForm collection="Libraries" id="survey4" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
    <legend>Library & Media Centre</legend>

    <button class="btn btn-primary btn-back">Back</button>
    <button class="btn btn-primary btn-save">Save</button>
    <fieldset>
      {{> afQuickField name="hasLibrary"}}

      {{#unless afFieldValueIs name="hasLibrary" value="No library"}}
        {{#unless afFieldValueIs name="hasLibrary" value=""}}
          {{> libraries}}
        {{/unless}}
      {{/unless}}

      {{> afQuickField name="comment"}}
      {{> afQuickField name="school_id"}}

    </fieldset>

  {{/autoForm}}
</template>

<template name="libraries">
	{{> afQuickField name="librarians"}}
	{{> afQuickField name="hasComputerTracking"}}
	{{> afQuickField name="hasComputerForGeneralUse"}}
	{{> afQuickField name="totalNumberOfComputers"}}
	{{> afQuickField name="totalNumberOfComputersThatConnectToTheInternet"}}
	{{> afQuickField name="hasBooks"}}
	{{> afQuickField name="hasFictionSection"}}
</template>
