<template name="survey12">
  {{setSelectedSurveyVersionDoc surveyVersionId }}
  {{setSelectedSchoolDoc schoolId}}
  	{{setSelectedDoc surveyVersionId "nutrition"}}
	{{#autoForm collection="Nutrition" id="survey12" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
			<legend>Nutrition</legend>
			<button class="btn btn-primary btn-back">Back</button>
    		<button class="btn btn-primary btn-save">Save</button>

			<fieldset>
			 {{#each afFieldNames}}
				 <div class="row">   
				 	{{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
	                <br />
	             </div> 
			 {{/each}}        
			</fieldset>
		{{/autoForm}}
</template>


