
<template name="survey7">
   <!-- {{setSelectedSchoolDoc schoolId }} -->
  {{setSelectedDoc schoolId "sanitation"}}
  <legend>Water & Sanitation</legend>
  <button class="btn btn-primary btn-back">Back</button>
  <button type="submit" class="btn btn-primary">Save</button>
  {{> sanitation_accordian}}
  <br/>
</template>

<template name="sanitation_accordian">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-0">More Information</a>
        <div id="accordion-0" class="accordion-section-content">
          {{> more_info }}
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">Blocks</a>
        <div id="accordion-1" class="accordion-section-content"> 
        	{{> blocks}}
        	
        </div>
    </div><!--end .accordion-section-->
  </div>
</template>

<template name="more_info">
  {{#autoForm collection="Sanitation" id="survey7" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
      <button type="submit" class="btn btn-primary">Save</button>
        {{#each afFieldNames}}
          {{#if isEqual this.name "waterSupply"}}
            {{> afQuickField name=this.name}}
          {{else}}
            {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
          {{/if}}
          <div class="clearfix visible-xs-block"></div>
          <br />
        {{/each}}
    {{/autoForm}}
</template>

<template name="blocks">
  <input type="button" class="open-modal btn btn-primary" value="Add a block" />
  {{> list_blocks }}
  {{> modal_block}}
</template>

<template name="list_blocks">
<table class="table">
    <thead>
      <tr>
        <th>Block name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
   {{#each blocks}}
        {{> block}} 
      {{/each}}
    </tbody>
  </table>
</template>

<template name="block">
  <tr>
    <td>{{this.blockName}}</td>
    <td><a href="#edit">Edit</a></td>
    <td><a href="#delete">Delete</a></td>
  </tr>
</template>

<!-- A modal that contains the bigger view of the image selected -->
<template name="modal_block">
  <div class="modal fade in" id="modal_block" data-backdrop="false" >
     <div class="modal-dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a Block</h4>
        </div>
        <div class="modal-body">
            {{#autoForm collection="SanitationBlocks" id="blocks" type="insert" resetOnSuccess=true autosave=true}}
                {{#each afFieldNames}}
                    {{#unless isEqual this.name "school_id"}}
                      {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
                    {{/unless}}
                    <div class="clearfix visible-xs-block"></div>
                    <br />
                {{/each}}

               {{> afQuickField name="school_id" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}

                <button type="submit" class="btn btn-primary">Save</button>
            {{/autoForm}}
          </div>
      </div>
  </div>
</template>

