
<template name="survey7">
		{{setSelectedSchoolDoc schoolId}}
          <h3>Water & Sanitation</h3>
          <button class="btn btn-primary btn-back">Back</button>
          {{> sanitation_accordian}}
    <br/>
</template>

<template name="sanitation_accordian">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-0">More Information</a>
        <div id="accordion-0" class="accordion-section-content">
          {{> more_info }}
        </div>
    </div><!--end .accordion-section-->
     <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">Blocks</a>
        <div id="accordion-1" class="accordion-section-content"> 
        	{{> blocks}}
        	
        </div>
    </div><!--end .accordion-section-->
  </div>
</template>

<template name="more_info">
<!--   {{#autoForm collection="Sanitation" id="survey" type="update" resetOnSuccess=false}}
      <button type="submit" class="btn btn-primary">Save</button>
      <fieldset>
        {{#each afFieldNames name="moreInformation"}}
          {{#if isEqual this "moreInformation.waterSupply"}}
            {{> afQuickField name=this options="auto"}}
          {{else}}
            {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
          {{/if}}
          <div class="clearfix visible-xs-block"></div>
          <br />
        {{/each}}
      </fieldset>
    {{/autoForm}} -->
</template>

<template name="blocks">
   {{> projectImageItem}}
  {{> projectImageModal}}

<!-- 	{{#autoForm collection="SanitationBlocks" id="survey2" type="update" resetOnSuccess=true}}
			  {{#each afFieldNames}}
	              {{> afQuickField name=this options="auto" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
		 			<div class="clearfix visible-xs-block"></div>
		 			<br />
	          {{/each}}
  				<div class="clearfix visible-xs-block"></div>

			    <button type="submit" class="btn btn-primary">Add Person</button>
			    <button type="reset" class="btn btn-default">Reset Form</button>
			{{/autoForm}} -->
</template>

<!-- A modal that contains the bigger view of the image selected -->
<template name="projectImageModal">
  <div class="modal fade in" id="projectImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
          <h4 class="modal-title">Big Image</h4>
        </div>
        <div class="modal-body">
          <p>test</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="projectImageItem">
 <input type="button" class="open-modal" value="Show modal." />
</template>
