
<template name="survey7">
		{{setSelectedSchoolDoc schoolId}}
		{{#autoForm collection="Sanitation" id="survey" type="update" doc=selectedSchoolDoc template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" resetOnSuccess=true}}
			<button class="btn btn-primary btn-back">Back</button>
			<button type="submit" class="btn btn-primary">Save</button>
			<fieldset>
				{{> afQuickField name="accessToSoap" options="auto"}}
	       		{{> afQuickField name="accessToToiletPaper" options="auto"}}
	       		{{> afQuickField name="accessToSanitaryPads" options="auto"}}
	       		{{> afQuickField name="totalNumberOfToiletBlocks" options="auto"}}
	       		{{> afQuickField name="totalNumberOfToiletBlockTaps" options="auto"}}
	       		{{> afQuickField name="totalNumberOfWorkingTaps" options="auto"}}
	       		{{> afQuickField name="disabledToilets" options="auto"}}
	       		{{> afQuickField name="waterSupplyCondition" options="auto"}}
				
				{{#unless afFieldValueIs name="waterSupplyCondition" value="There is no water supply"}}
			        {{#unless afFieldValueIs name="waterSupplyCondition" value=""}}
			          {{> water}}
			        {{/unless}}
		      	{{/unless}}

	       		{{> afQuickField name="comment" options="auto"}}

            {{> sanitation_accordian}}

	       		{{> afArrayField name="blocks" template="block"}}


	       		<!-- {{> blocks_accordion}} -->

        </fieldset>
   {{/autoForm}}
   <br/>
</template>

<template name="sanitation_accordian">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-0">More Information</a>
        <div id="accordion-0" class="accordion-section-content">
          {{#each afFieldNames name="moreInformation"}}
              {{> afQuickField name=this options="auto"}}
          {{/each}}
        </div>
    </div><!--end .accordion-section-->
  </div>
</template>

<template name="water">
	{{> afQuickField name="waterSupply" options="auto"}}
	{{> afQuickField name="isWaterDrinkable" options="auto"}}
	{{> afQuickField name="isWaterEnoughForFoodPreparation" options="auto"}}
	{{> afQuickField name="isWaterEnoughForHygiene" options="auto"}}
</template>

<template name="afArrayField_block">
  <div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">Block</a>
        <div id="accordion-0" class="accordion-section-content">
          {{#each afFieldNames name=this}}
              {{> afQuickField name=this options="auto"}}
          {{/each}}
        </div>
    </div><!--end .accordion-section-->
  </div>
</template>


<!-- <template name="afArrayField_block">
  <div class="panel panel-default">
      <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
      {{#if afFieldIsInvalid name=this.atts.name}}
      <div class="panel-body has-error">
        <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
      </div>
      {{/if}}
      <ul class="list-group">
        {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <li class="list-group-item">
          <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">Add another block </button>
        </li>
        {{/if}}
        {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <li class="list-group-item autoform-array-item">
          <div class="media">
            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
            <button type="button" class="btn btn-primary autoform-remove-item pull-left">Remove this block </button>
            {{/if}}
            <div class="media-body">
              {{> block_table}}
            </div>
          </div>
        </li>
        {{/afEachArrayItem}}
        {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <li class="list-group-item">
          <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">Add another block </button>
        </li>
        {{/if}}
      </ul>
    </div>
</template> -->

<template name="block_table">
  {{> afQuickField name=this.name label=false options="auto"}}
</template>