
<template name="survey8">
	<!-- {{setSelectedSchoolDoc schoolId}} -->
  	{{#autoForm collection="Schools" id="survey8" type="update" doc=selectedSchoolDoc resetOnSuccess=false autosave=true}}
      <legend>School Details</legend>
      <button class="btn btn-primary btn-back">Back</button>
      <button class="btn btn-primary btn-save">Save</button>
          {{#each afFieldNames name="schoolDetails"}}
          <div class="row">   
              {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <br />
            </div> 
           
    	{{/each}}

   {{/autoForm}}

</template>


