
<template name="survey6">
  {{setSelectedDoc surveyVersionId "security"}}
  {{#autoForm collection="Security" id="survey6" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
     <legend>Perimeter Security</legend>
  	 <button class="btn btn-primary btn-back">Back</button>
    <button class="btn btn-primary btn-save">Save</button>
		<fieldset>
      <div class="row">   
        {{> afQuickField name="safetyLevel" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
        <br />
      </div> 
      <div class="row">   
        {{> afQuickField name="hasFence" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
        <br />
      </div>
   
        {{#if afFieldValueIs name="hasFence" value=true}}
				  {{> security}}
        {{/if}}

      <div class="row">   
          {{> afQuickField name="comment" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
        <br />
      </div>
      <div class="row">   
          {{> afQuickField name="version_id" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
        <br />
      </div>

        </fieldset>
   {{/autoForm}}
</template>

<template name="security">
  <div class="row">   
      {{> afQuickField name="fenceHasHoles" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>
  <div class="row">   
      {{> afQuickField name="conditionOfFence" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
    <br />
  </div>
</template>
