
<template name="survey9">
		<!-- {{setSelectedSchoolDoc schoolId}} -->
  {{setSelectedDoc schoolId "specialneeds"}}
  {{#autoForm collection="SpecialNeeds" id="survey9" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
  	<legend>Special Needs</legend>
	<button class="btn btn-primary btn-back">Back</button>
    <button class="btn btn-primary btn-save">Save</button>

			<fieldset>
			{{#each afFieldNames}}
		    	{{> afQuickField name=this.name}}
		  	{{/each}}  
			</fieldset>
		{{/autoForm}}
</template>


