
<template name="survey3">
  <!-- {{setSelectedSchoolDoc schoolId}} -->
  {{setSelectedDoc schoolId "sports"}}
  {{#autoForm collection="Sports" id="survey3" type=autoformType doc=selectedDoc resetOnSuccess=false autosave=true}}
          <legend>Sports Fields</legend>
          <button class="btn btn-primary btn-back">Back</button>
          <button class="btn btn-primary btn-save">Save</button>
          <fieldset>

            <div class="row">   
                {{> afQuickField name="numberOfSportsFields" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <br />
            </div>
              <div class="row">   
                {{> afQuickField name="availableSports" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
              <br />
            </div>
            {{#if afFieldValueContains name="availableSports" value="Other"}}
              <div class="row">   
                  {{> afQuickField name="availableSportsOtherDescription" template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
                <br />
              </div>            
            {{/if}}


            {{#if afFieldValueContains name="availableSports" value="Athletics Field"}}
              {{> afQuickField name="athleticsDrillDown" }}
            {{/if}}
            {{#if afFieldValueContains name="availableSports" value="Hockey Field"}}
              {{> afQuickField name="hockeyDrillDown" }}
            {{/if}}
             {{#if afFieldValueContains name="availableSports" value="Netball Court"}}
             	{{> afQuickField name="netballDrillDown"}}
            {{/if}}
            {{#if afFieldValueContains name="availableSports" value="Basketball Court"}}
             	{{> afQuickField name="basketballDrillDown"}}
            {{/if}}
            {{#if afFieldValueContains name="availableSports" value="Tennis Court"}}
             	{{> afQuickField name="tennisDrillDown"}}
            {{/if}}
            {{#if afFieldValueContains name="availableSports" value="Cricket Pitch"}}
             	{{> afQuickField name="cricketDrillDown"}}
            {{/if}}
            {{#if afFieldValueContains name="availableSports" value="Soccer Field"}}
             	{{> afQuickField name="soccerDrillDown"}}
            {{/if}}
	        {{#if afFieldValueContains name="availableSports" value="Rugby Field"}}
             	{{> afQuickField name="rugbyDrillDown"}}
            {{/if}}
	        {{#if afFieldValueContains name="availableSports" value="Swimming Pool"}}
             	{{> afQuickField name="swimmingDrillDown"}}
            {{/if}}
	        {{#if afFieldValueContains name="availableSports" value="Other"}}
             	{{> afQuickField name="otherDrillDown"}}
          {{/if}}

          {{> afQuickField name="school_id"}}

        </fieldset>

   {{/autoForm}}
</template>