
<template name="survey10">
		{{setSelectedSchoolDoc schoolId}}
		{{#autoForm collection="Schools" id="survey" type="update" doc=selectedSchoolDoc template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" resetOnSuccess=false}}
		<button class="btn btn-primary btn-back">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
				 {{> afQuickField name="additionalInfo.yearBuilt"}}
				 {{> afQuickField name="additionalInfo.location"}}				 
			 {{#unless afFieldValueContains name="additionalInfo.location" value=" "}}
				 {{> afQuickField name="additionalInfo.couldBeMoved"}}
			{{/unless}}
			 {{> afQuickField name="additionalInfo.schoolSignboard"}}
			 {{> afQuickField name="additionalInfo.electronicConnectivity"}}
			 {{> afQuickField name="additionalInfo.facilities"}}
			 {{#if afFieldValueContains name="additionalInfo.facilities" value="Deputy principal’s office"}}
				 {{> afQuickField name="additionalInfo.numberOfDeputyPrincipalOffices"}}
			{{/if}}
			{{#if afFieldValueContains name="additionalInfo.facilities" value="Sick room"}}
				 {{> afQuickField name="additionalInfo.numberOfSickRooms"}}
			{{/if}}
			{{#if afFieldValueContains name="additionalInfo.facilities" value="Staff kitchenette"}}
				 {{> afQuickField name="additionalInfo.numberOfStaffKitchenetters"}}
			{{/if}}
			{{#if afFieldValueContains name="additionalInfo.facilities" value="HOD’s office"}}
				 {{> afQuickField name="additionalInfo.numberOfHODoffices"}}
			{{/if}}
			{{#if afFieldValueContains name="additionalInfo.facilities" value="Printing room"}}
				 {{> afQuickField name="additionalInfo.numberOfPrintingRooms"}}
			{{/if}}

		{{/autoForm}}
</template>

