
<template name="survey4">
  {{setSelectedSchoolDoc schoolId}}
  {{#autoForm collection="Schools" id="survey" type="update" doc=selectedSchoolDoc template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" resetOnSuccess=false}}
    <button class="btn btn-primary btn-back">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>
    <fieldset>
      <legend>Library & Media Centre</legend>
      {{> afQuickField name="library.hasLibrary" options="auto"}}

      {{#unless afFieldValueIs name="library.hasLibrary" value="No library"}}
        {{#unless afFieldValueIs name="library.hasLibrary" value=""}}
          {{> libraries}}
        {{/unless}}
      {{/unless}}

    </fieldset>

  {{/autoForm}}
</template>

<template name="libraries">
	{{> afQuickField name="library.librarians" options="auto"}}
	{{> afQuickField name="library.hasComputerTracking" options="auto"}}
	{{> afQuickField name="library.hasComputerForGeneralUse" options="auto"}}
	{{> afQuickField name="library.totalNumberOfComputers" options="auto"}}
	{{> afQuickField name="library.totalNumberOfComputersThatConnectToTheInternet" options="auto"}}
	{{> afQuickField name="library.hasBooks" options="auto"}}
	{{> afQuickField name="library.hasFictionSection" options="auto"}}
</template>
