
<template name="survey">
		{{#if this.schoolId}}
			<h2>Survey for {{schoolNameWithId this.schoolId}}</h2>

		{{else}}
			<h2>Survey</h2>
		{{/if}}
		
		{{#if isEqual this.surveySection 'survey_sections'}}
			{{>  section_selection schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey1'}}
			{{>  survey1 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey2'}}
			{{>  survey2 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey3'}}
			{{>  survey3 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey4'}}
			{{>  survey4 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey5'}}
			{{>  survey5 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey6'}}
			{{>  survey6 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey7'}}
			{{>  survey7 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey8'}}
			{{>  survey8 schoolId=this.schoolId }}
		{{/if}}
		
		{{#if isEqual this.surveySection 'survey9'}}
			{{>  survey9 schoolId=this.schoolId }}
		{{/if}}

		{{#if isEqual this.surveySection 'survey10'}}
			{{>  survey10 schoolId=this.schoolId }}
		{{/if}}
		
		{{#if isEqual this.surveySection 'survey11'}}
			{{>  survey11 schoolId=this.schoolId }}
		{{/if}}
		
		{{#if isEqual this.surveySection 'survey12'}}
			{{>  survey12 schoolId=this.schoolId }}
		{{/if}}
		
		{{#if isEqual this.surveySection 'survey13'}}
			{{>  survey13 schoolId=this.schoolId }}
		{{/if}}
</template>



 <template name="section_selection">
      
      <h3>Please choose a section to update</h3>
      {{setSelectedSchoolDoc schoolId}}
      <a href="{{pathFor 'surveySection' surveySection='survey8' _id =schoolId}}" class="btn btn-primary btn-dashboard">School Details</a>
      <a href="{{pathFor 'surveySection' surveySection='survey1' _id =schoolId}}" class="btn btn-primary btn-dashboard">Contact Person Details</a>
      <a href="{{pathFor 'surveySection' surveySection='survey2' _id =schoolId}}" class="btn btn-primary btn-dashboard">Grade Demographics</a>
      <a href="{{pathFor 'surveySection' surveySection='survey3' _id =schoolId}}" class="btn btn-primary btn-dashboard">Sports Fields</a>
      <a href="{{pathFor 'surveySection' surveySection='survey4' _id =schoolId}}" class="btn btn-primary btn-dashboard">Library & Media Centre</a>
      <a href="{{pathFor 'surveySection' surveySection='survey5' _id =schoolId}}" class="btn btn-primary btn-dashboard">Science Labs</a>
      <a href="{{pathFor 'surveySection' surveySection='survey6' _id =schoolId}}" class="btn btn-primary btn-dashboard">Perimeter Security</a>
      <a href="{{pathFor 'surveySection' surveySection='survey7' _id =schoolId}}" class="btn btn-primary btn-dashboard">Water & Sanitation</a>      
      <a href="{{pathFor 'surveySection' surveySection='survey9' _id =schoolId}}" class="btn btn-primary btn-dashboard">Special Needs</a>
      <a href="{{pathFor 'surveySection' surveySection='survey10' _id =schoolId}}" class="btn btn-primary btn-dashboard">School Environment</a>
      <a href="{{pathFor 'surveySection' surveySection='survey11' _id =schoolId}}" class="btn btn-primary btn-dashboard">Classrooms</a>
      <a href="{{pathFor 'surveySection' surveySection='survey12' _id =schoolId}}" class="btn btn-primary btn-dashboard">Nutrition</a>
      <a href="{{pathFor 'surveySection' surveySection='survey13' _id =schoolId}}" class="btn btn-primary btn-dashboard">Electricity</a>

 </template>





