<template name="home">
	 <page class="application">
	 	  <div class="content center-content">
			<a href="/schools/add" class="btn btn-primary full-width">Add a School</a>
			<br />
			<a href="/schools/upload" class="btn btn-primary full-width">Upload Many Schools</a>
			<br />
			<a href="/schools/select" class="btn btn-primary full-width">Update a School Profile</a>
			<br />
			<a href="/downloads" class="btn btn-primary full-width">Downloads</a>
			<br />
			{{#if userIsAdmin}}
				<a href="/manage" class="btn btn-primary full-width">Manage</a>
				<br />
			{{/if}}
		</div>
	</page>
</template>

<template name="hometitle">
	What would you like to do?
</template>