<template name="home">
	 <page class="application">
	 	  <div class="content center-content">
<!-- 

	<div class="container">
		<div class="align-content-center">
 -->

			<!-- {{#if currentUser}} -->
				<a href="/schools/add" class="btn btn-primary full-width">Add a School</a>
				<br />
				<a href="" class="btn btn-primary full-width">Upload Many Schools</a>
				<br />
				<a href="/schools/select" class="btn btn-primary full-width">Update a School Profile</a>

				<br />
<!-- 				<a href="{{pathFor 'view' }}" class="btn btn-primary full-width">View a School Profile for Printing</a>
				<br /> -->
				<!-- <a href="" class="btn btn-primary full-width">Contact Equal Education</a> -->
<!-- 			{{else}}
				<h2>Please log in</h2>
			
			{{/if}} -->

		</div>
	</page>
</template>

<template name="hometitle">
	What would you like to do?
</template>