<template name="schools">
{{#autoForm collection="Schools" id="insertSchoolForm" type=autoformTypeForAddSchool doc=selectedSchoolDoc resetOnSuccess=false autosave=true}}
    <fieldset>
      <legend>Add a School</legend>
      {{#each afFieldNames name="schoolDetails"}}
        <div class="row">
            {{> afQuickField name=this.name template="bootstrap3-horizontal" label-class="col-xs-6" input-col-class="col-xs-6"}}
          <br />
        </div>
      {{/each}}
    </fieldset>
      <button class="btn btn-primary btn-back">Back</button>
      <button type="submit" class="btn btn-primary btn-save">Save</button>
  {{/autoForm}}
</template>



<template name="school_selection">
    {{> survey_schools}}
</template>

<template name="survey_schools">
      <form class="form-horizontal select_school">
        <div class="form-group">
          <label class="col-lg-2 control-label">Select a school</label>
          <div class="col-lg-10">
            <div class="form-control-wrapper">
              <select name="selected_school" class="form-control"  onChange="window.location.href=this.value">
                <option value="">Select...</option>
                  {{#each this}}
                      {{> survey_school}}
                  {{/each}}
              </select>
              <span class="material-input"></span>
            </div>
            <br> 
          </div>
        </div>
      </form>
</template>

<template name="survey_school">
        <option value="{{pathFor 'survey'}}">{{schoolDetails.INSTITUTION_NAME}}</option>
</template>